## 직사각형 별찍기

In [1]:
a, b = map(int, input().strip().split(' '))
s = ('*'*a +'\n')*b
print(s)

5 3
*****
*****
*****

## x만큼 간격이 있는 n개의 숫자

In [5]:
def solution(x, n):
    answer = []
    for i in range(n):
        answer.append((i+1)*x)
    return answer
solution(2,5)

[2, 4, 6, 8, 10]

## 행렬의 덧셈

In [10]:
import numpy as np
def solution(arr1, arr2):
    arr1= np.array(arr1)
    arr2= np.array(arr2)
    answer = arr1+arr2
    return answer.tolist()
solution([[1,2],[2,3]],[[3,4],[5,6]])

[[4, 6], [7, 9]]

## 핸드폰 번호 가리기

In [20]:
def solution(phone_number):
    l = len(phone_number[:-4])
    answer = ('*'*l)+phone_number[l:]
    return answer
solution('1234567890')

'******7890'

## 하샤드 수

In [34]:
def solution(x):
    a = str(x)
    sum = 0
    for i in range(len(a)):
        sum = sum + int(a[i])
    if(x%sum == 0 ):
        return True
    else:
        return False
    
solution(13)

False

## 콜라츠 추측

In [39]:
def solution(num):
    answer = 0
    while num !=1 :
        if(num%2==0):
            num = num/2
            answer = answer + 1
            if(answer>500):
                return -1
        else:
            num = num*3 +1
            answer = answer + 1
            if(answer>500):
                return -1
    return answer

solution(16)

4

## 평균 구하기

In [40]:
import numpy as np

def solution(arr):
    answer = np.mean(arr)
    return answer

## 최대공약수와 최소공배수

In [42]:
from math import gcd

def solution(n, m):
    gcdNum = gcd(n,m)
    lcmNum = n*m // gcdNum
    answer = [gcdNum,lcmNum]
    return answer

## 짝수와 홀수

In [43]:
def solution(num):
    if(num%2==0):
        return 'Even'
    else:
        return 'Odd'

## 제일 작은 수 제거하기

In [54]:
import numpy as np

def solution(arr):
    a = np.array(arr)
    minimum = np.min(a)
    for item in arr:
        if item == minimum:
            arr.remove(minimum)   
    if(len(arr)==0):
        return [-1]
    else:
        return arr

solution([10])

[-1]

## 정수 제곱근 판별

In [67]:
def solution(n):
    a = n**0.5
    if(a%1==0):
        return int(((n**0.5)+1)**2)
    else:
        return -1

solution(3)

-1

## 정수 내림차순으로 배치하기

In [91]:
def solution(n):
    s = list(str(int(n)))
    s.sort(reverse=True)
    return (int(''.join(s)))
solution(123412)

432211

## 자연수 뒤집어 배열로 만들기

In [106]:
def solution(n):
    s = str(n)[::-1]
    return list(map(int,s))
solution(12345)

[5, 4, 3, 2, 1]

## 자릿수 더하기

In [117]:
def solution(n):
    s = list(str(n))
    return sum(list(map(int,s)))
solution(123)

6

## 이상한 문자 만들기

In [123]:
def solution(s):
    a = s.split(' ')
    
    for i in range(len(a)):
        item = list(a[i])
        for j in range(len(item)):
            if j%2 == 0 :
                item[j] = item[j].upper()
            else:
                item[j] = item[j].lower()
        a[i] = ''.join(item)
        
    return " ".join(a)

solution("asdj ajaskdj a")

'AsDj AjAsKdJ A'